:root{
	--black: rgb(22, 22, 22);
}

body{
	font-family: Arial, Helvetica, sans-serif;
	font-size: 30px;
	background-color: var(--black);
	color: white;
}

.container{
	display: flex;
	justify-content: center;
	align-items: center;
}

#iniciar-sesion, #registrar-usuario{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.hide{
	display: none;
}

.show{
	display: block;
}

.small-text{
	font-size: 15px;
}

